.container-file {
    padding: 10px 15px;
    background-color: var(--color-gray-shadow);
    border: 1px solid var(--color-gray-medium);
    border-radius: 8px;
}

.image-file {
    height: 100px;
    max-width: 150px;
    align-content: center;
}

.image-file img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.text-file {
    width: 300px;
}

.box-icon {
    border-radius: 5px;
    padding: 8px;
    background-color: var(--color-blue-primary);
}

.file-details {
    width: 200px;
    margin-left: 15px;
    flex-direction: column;
}

.file-details span {
    text-align: start;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.file-details span:nth-of-type(2) {
    color: var(--color-gray-soft);
    font-weight: 500;
}